.ascend
plugin_sdk/target
build
guest-uploads
node_modules
dist
dist-ts
src/tcp/routes
output
input
src/extension-data.json
workflows-available
extensions-available
private-extensions
extensions-untested

envs/*
workflows-enabled/*



# Except these workflows
!workflows-enabled/test.nyno
!workflows-enabled/test_nyno.nyno 
!workflows-enabled/test_nyno_runners.nyno

# Envs exceptions
!envs/ports.env

# ignore container created db
pgdata


